<h1>Sass Pixelations</h1>
<ol id="faq">
  <li><a>What am I looking at?</a>
    <p>
    Below there are 10,000 DOM elements laid out in a 100 by 100 pixel grid.<br/>
    This area has been styled with CSS generated from a Sass Stylesheet.
    </p>
  </li>
  <li><a href="#">What's the Point?</a>
    <p>This page was created to demonstrate the power of
      Sass. Most pages have far fewer than 10,000 elements on
      them, so if Sass makes it easy to style this page, imagine
      how easy it will be to style your website!
    </p>
  </li>
  <li><a>What is Sass?</a>
    <p>
       <a href="http://haml.hamptoncatlin.com/docs/rdoc/classes/Sass.html">Sass</a>
       stands for <strong>S</strong>yntactically
       <strong>A</strong>wesome <strong>S</strong>tyle<strong>S</strong>heets.
       It is a syntax and scripting language for writing stylesheets. Sass uses
       indentation to represent decedent selectors and what styles
       apply to a selector. Sass has variables to make your stylesheets more
       legible and maintainable. And most interestingly, Sass has Mixins which
       are macros you can use to help you build your stylesheets.
    </p>
  </li>
  <li><a href="#">What is Compass?</a>
    <p><a href="/">Compass</a> is a <strong>real</strong> stylesheet framework &mdash; not just a collection
      of classes. With Compass, you still use the best of breed CSS frameworks
      (blueprint, yui, 960.gs); ported to Sass to make them easier to configure
      and apply to your semantic markup. The
      <a href="/hl/pixelations/base.sass">sass stylesheet for this page</a>
      is built with Sass &amp; Compass.
    </p>
  </li>
  <li><a href="#">Who made this?</a>
    <p>This page was conceived and implemented by <a href="http://github.com/chriseppstein">Chris Eppstein</a>.
      Chris is the Software Architect at <a href="http://www.caring.com/">Caring.com</a>,
      a maintainer of Sass, and the creator of Compass. He built this page over a couple
      of days during his Christmas break.
    </p>
  </li>
</ol>

<div id="pixelation">
<h2><%= @stylesheet.title %></h2>
<div id="pixel-info" style="display: none;">
  <div id="pixel-tag"></div>
  <div id="zoom">
    <div class="pixelated">
      <p id="z-0-0"></p>
      <p id="z-0-1"></p>
      <p id="z-0-2"></p>
      <p id="z-0-3"></p>
      <p id="z-0-4"></p>
      <p id="z-0-5"></p>
      <p id="z-0-6"></p>
      <p id="z-0-7"></p>
      <p id="z-0-8"></p>
      <p id="z-1-0"></p>
      <p id="z-1-1"></p>
      <p id="z-1-2"></p>
      <p id="z-1-3"></p>
      <p id="z-1-4"></p>
      <p id="z-1-5"></p>
      <p id="z-1-6"></p>
      <p id="z-1-7"></p>
      <p id="z-1-8"></p>
      <p id="z-2-0"></p>
      <p id="z-2-1"></p>
      <p id="z-2-2"></p>
      <p id="z-2-3"></p>
      <p id="z-2-4"></p>
      <p id="z-2-5"></p>
      <p id="z-2-6"></p>
      <p id="z-2-7"></p>
      <p id="z-2-8"></p>
      <p id="z-3-0"></p>
      <p id="z-3-1"></p>
      <p id="z-3-2"></p>
      <p id="z-3-3"></p>
      <p id="z-3-4"></p>
      <p id="z-3-5"></p>
      <p id="z-3-6"></p>
      <p id="z-3-7"></p>
      <p id="z-3-8"></p>
      <p id="z-4-0"></p>
      <p id="z-4-1"></p>
      <p id="z-4-2"></p>
      <p id="z-4-3"></p>
      <p id="z-4-4"></p>
      <p id="z-4-5"></p>
      <p id="z-4-6"></p>
      <p id="z-4-7"></p>
      <p id="z-4-8"></p>
      <p id="z-5-0"></p>
      <p id="z-5-1"></p>
      <p id="z-5-2"></p>
      <p id="z-5-3"></p>
      <p id="z-5-4"></p>
      <p id="z-5-5"></p>
      <p id="z-5-6"></p>
      <p id="z-5-7"></p>
      <p id="z-5-8"></p>
      <p id="z-6-0"></p>
      <p id="z-6-1"></p>
      <p id="z-6-2"></p>
      <p id="z-6-3"></p>
      <p id="z-6-4"></p>
      <p id="z-6-5"></p>
      <p id="z-6-6"></p>
      <p id="z-6-7"></p>
      <p id="z-6-8"></p>
      <p id="z-7-0"></p>
      <p id="z-7-1"></p>
      <p id="z-7-2"></p>
      <p id="z-7-3"></p>
      <p id="z-7-4"></p>
      <p id="z-7-5"></p>
      <p id="z-7-6"></p>
      <p id="z-7-7"></p>
      <p id="z-7-8"></p>
      <p id="z-8-0"></p>
      <p id="z-8-1"></p>
      <p id="z-8-2"></p>
      <p id="z-8-3"></p>
      <p id="z-8-4"></p>
      <p id="z-8-5"></p>
      <p id="z-8-6"></p>
      <p id="z-8-7"></p>
      <p id="z-8-8"></p>
    </div>
    <div id="select-message">
      Click to freeze.
    </div>
    <div id="deselect-control" style="display:none;">
      <a href="javascript:deselect_pixel()">Unfreeze</a>
    </div>
  </div>
</div>
<div id="container">
  <p id="please-wait">
    Rendering Pixels.<br/>
    Please Wait.
  </p>
<div id="pixels" class="pixelated" style="display:none;">
</div>
</div>
</div>

<div id="make-your-own">
<h2>Stylesheet for this Pixelation</h2>
<p>Feel free to edit it and see the changes</p>
<textarea id="stylesheet">
<%= @stylesheet.sass %>
</textarea>
<div id="error"></div>
</div>

<script type="text/javascript">
var compilation_path = <%= compile_pixelations_stylesheets_path.to_json %>;
</script>
