@import compass/utilities/general/reset.sass
@import compass/utilities/general/clearfix.sass

=create-pixels(!bg_color = #fff, !pixel_selector = "p")
  #{!pixel_selector}
    +reset-box-model
    :float left
    :width 1px
    :height 1px
    :background-color #fff

#pixelation
  :background-color #ccc
  :border 3px solid #777
  :position relative
  h2
    :text-align center
  #pixel-info
    :position absolute
    :right 0px
    :top 3em
    :margin-right 2em
#container
  :width 100px
  :margin 2em auto 2em
  :padding 1em
  :border 3px solid #aaa
.pixelated
  +create-pixels
  +clearfix
p#please-wait
  :width 100px
  :height 100px
  :margin 0
p#please-wait
  :text-align center

body#pixelations
  #error
    :margin 0.5em 0px
    :color #000
    :border 4px solid #fff
    :padding 2px 3px
    :min-height 1.5em
    &.active
      :background-color #faa
      :border-color #c00
  #zoom
    +clearfix
    .pixelated
      :width 60px
      :float right
      :border
        :bottom 2px solid black
        :right 2px solid black
      p
        :width 10px
        :height 10px
        :border
          :top 2px solid black
          :left 2px solid black
  #footer
    :text-align center
  #make-your-own
    :margin-top 1em
    textarea
      :width 638px
      :height 200px
      :margin 0 auto
