!!!
%html
  %head
    %title Compass
    = stylesheet_link_tag "application"
  %body#home
    #main.wrap
      #content
        = yield
      #layout_footer
    #footer
      .wrap
        %ul
          %li.opensource
            = link_to 'compass is opensource.', 'http://www.opensource.org/'
          %li.dryicons
            = link_to 'Icons by DryIcons.com', 'http://dryicons.com'
