%h1 Compass
.tagline
  %em Untangle your Design.
.description
  %p
    Compass is a stylesheet authoring framework that makes your stylesheets
    and markup easier to build and maintain. With compass, you write your
    stylesheets in
    %a(href="http://sass-lang.com/")Sass
    instead of CSS. Using the power of
    %a(href="http://sass-lang.com/docs/yardoc/SASS_REFERENCE.md.html#mixins") Sass Mixins
    and the Compass community, you can apply battle-tested styles from frameworks like
    %a(href="http://blueprintcss.org/") Blueprint
    to your stylesheets instead of your markup.

%ol#next-steps
  %li.download
    %a{:href => "http://github.com/chriseppstein/compass/wikis/getting-started"} Download
  %li.learn
    %a{:href => "http://github.com/chriseppstein/compass/wikis"} Learn
  %li.support
    %a{:href => "http://groups.google.com/group/compass-users"} Support
  %li.get-involved
    %a{:href => "http://github.com/chriseppstein/compass"} Get Involved