%h1 Compass
.tagline
  %em Untangle your Design.
%p.description
  Compass is a real stylesheet framework, not a collection of classes.
  With Compass, you still use the
  = succeed ";" do
    %a{:href=>"http://github.com/chriseppstein/compass/wikis/supported-frameworks"}<
      best of breed css frameworks
  adapted to make them easier to configure and apply to your semantic markup.

%ol#next-steps
  %li.download
    %a{:href => "http://github.com/chriseppstein/compass/wikis/getting-started"} Download
  %li.learn
    %a{:href => "http://github.com/chriseppstein/compass/wikis"} Learn
  %li.help
    %a{:href => "http://groups.google.com/group/compass-users"} Support