<table class="highlighttable"><tr><td class="linenos"><pre>1
2
3</pre></td><td class="code"><div class="highlight"><pre><span class="nv">!blueprint_grid_columns</span> <span class="o">=</span> <span class="nt">9</span>
<span class="nv">!blueprint_grid_margin</span> <span class="o">=</span> <span class="nt">20px</span>
<span class="nv">!blueprint_grid_width</span> <span class="o">=</span> <span class="p">(</span><span class="nt">640px</span> <span class="nt">-</span> <span class="nt">8</span> <span class="o">*</span> <span class="nv">!blueprint_grid_margin</span><span class="o">)</span> <span class="o">/</span> <span class="nv">!blueprint_grid_columns</span>
</pre></div>
</td></tr></table>